<!doctype html>
<html lang="en">

  <head>
    <title>HausCloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}?{{ cache_id }}">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One%7cMonda" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/hub.css') }}?{{ cache_id }}">
  </head>

  <body>
    <div id="cloud-container">
      <div>
	  <svg class="cloud" viewBox="0 0 100 100">
	    <text x="50" y="60" text-anchor="middle">Testing</text>
	  </svg>
      </div>
    </div>
    <div id="arrow-container">
      <object class="arrows" data="{{ url_for('static', filename='images/left.svg') }}?{{ cache_id }}" type="image/svg+xml">
        <img src="https://img.glyphs.co/img?q=85&w=900&src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL2Jsb2ctaW1hZ2VzL0NDUEwtSW1hZ2UtMDIuanBnP210aW1lPTIwMTkwNTEzMTcyMzEy" />
      </object>
      <object class="arrows" data="{{ url_for('static', filename='images/right.svg') }}?{{ cache_id }}" type="image/svg+xml">
        <img src="https://img.glyphs.co/img?q=85&w=900&src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL2Jsb2ctaW1hZ2VzL0NDUEwtSW1hZ2UtMDIuanBnP210aW1lPTIwMTkwNTEzMTcyMzEy" />
      </object>
    </div>
    <!-- <script src="{{ url_for('static', filename='scripts/hub.js') }}?{{ cache_id }}"></script> -->
  </body>

</html>
