<!doctype html>
<html lang="en">

  <head>
    <title>HausCloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}?{{ cache_id }}">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One%7cMonda" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}?{{ cache_id }}">
  </head>

  <body>
    <div id="typicalbackground">
      <div id="navbar">
        <ul>
          <li><a class="hvr-grow">About</a></li>
          <li><a href="app/webapp1" class="hvr-grow">Apps</a></li>
          <li><a class="hvr-grow">Projects</a></li>
          <li><a class="hvr-grow">Contact</a></li>
        </ul>
      </div>
      <div id="anttitle">
        <h1>Anthony Le</h1>
        <div>
	  <noscript><h2>Software Engineer</h2></noscript>
          <h2></h2></div>
      </div>
    </div>
    <div id="about">
      <div>
        <h1>Hi, I'm Anthony.</h1>
        <p>In a nutshell, I'm just some guy who fell in love with coding and went for broke to pursue his dreams. Currently based in New Haven CT, I'm eager to put my best foot forward in the tech world.
        </p>
      </div>
    </div>
    <div id="projects">
      <h1>Projects</h1>
      <div>
        <div>
          <a class="shadow"></a>
        </div>
        <div>
          <a class="shadow"></a>
        </div>
      </div>
    </div>
    <div id="contact">
      <h2> Let's Connect </h2>
      <div>
	<noscript><a href="https://www.linkedin.com/in/hauscloud" class="hvr-grow">Linkedin</a></noscript>
	<a id="hclinkedin" class="hvr-grow">
	  <i class="fab fa-linkedin fa-3x"></i>
	</a>
	<noscript><a href="https://www.github.com/hauscloud" class="hvr-grow">GitHub</a></noscript>
	<a id="hcgithub" class="hvr-grow">
	  <i class="fab fa-github-square fa-3x"></i>
	</a>
	<noscript><a href="https://www.twitter.com/hauscloud" class="hvr-grow">Twitter</a></noscript>
	<a id="hctweet" class="hvr-grow">
	  <i class="fab fa-twitter-square fa-3x"></i>
	</a>
	<noscript><a href="mailto:hauscloud.me@gmail.com" target="_blank" rel="noopener noreferrer" class="hvr-grow">E-Mail</a></noscript>
	<a href="mailto:hauscloud.me@gmail.com" target="_blank" rel="noopener noreferrer" class="hvr-grow">
	  <i class="fas fa-envelope-square fa-3x"></i>
	</a>
      </div>
      <footer>Copyright &copy; Anthony Le</footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/ScrollToPlugin.min.js"></script>
    <script src="https://kit.fontawesome.com/7d2e155d8f.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/home.js') }}?{{ cache_id }}"></script>
  </body>

</html>
