html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-size: calc(16px + (24 - 16) * ((100vw - 400px) / (800 - 400)));
}

/* Set default font for header */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', "Times New Roman", Times, serif;
    text-align: center;
}

/* Set default font for most common tags */
p, a, div, li, em, i, b, strong, span {
    font-family: 'Monda', "Times New Roman", Times, serif;
}
