.square {
    width: 50%;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

@media all and (orientation: landscape) {
    .square {
        width: 20%;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', "Times New Roman", Times, serif;
    text-align: center;
    /* font-size: calc(20px + (24 - 16) * ((100vw - 400px) / (800 - 400))); */
}

p, a, div, li, em, i, b, strong, span {
    text-align: center;
    font-family: 'Monda', "Times New Roman", Times, serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

body > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

body > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

body > div:last-child > a {
    color: inherit;
    text-decoration: none;
}